.sm-panel {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block-brand {
  display: flex;
  flex-direction: column;
  font-size: 6em;
  font-weight: 200;
  line-height: .95em;
  margin: 45% 0 35% 0;
}

.main-input {
  background: none;
  border: 0;
  border-bottom: 1px solid @brand-dark;
  width: 100%;
}
.main-input:focus {
  border: 0;
  border-bottom: 1px solid @brand-main;
}

.main-label {
  font-weight: 300;
}

.flex-row {
  display: flex;
  justify-content: flex-end;
}

.fw-300 {
  font-weight: 300;
}

.mg-neg {
  margin-top: -15%;
}

.pdd-lg {
  padding: 3%;
}

@media (max-width: 790px) {
  .sm-panel {
      width: 100%;
  }
}
