

@media (max-width: 1082px) {
  .main-section {
    width: 65%;
    margin-left: 4%;
  }
}

@media (max-width: 900px) {
  .block-brand {
    margin: 15% 0 5% 0;
  }

  .section-container {
    flex-direction: column;
  }

  .side-section {
    width: 100%;
  }

  .main-section {
    width: 95%;
    margin: 0 auto;
  }

  .sub-heading {
    flex-direction: column;
    margin: 5% 0 0 0;
  }

  .sub-heading h2 {
    text-align: center;
    margin: 0 0 3% 0;
  }

  .search-section {
    align-self: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin: 2% 0;
  }

  .sub-input {
    width: 100%;
  }

  .main-link {
    font-size: 1.2em;
  }

  .link-items {
    margin: 4% 0 0 0;
  }
}
